
body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--header);
}
:root[data-theme='light'] {
  --bg: #fff;
  --fg: #111;
  --header: #eee;
}
:root[data-theme='dark'] {
  --bg: #111;
  --fg: #eee;
  --header: #222;
}
button {
  padding: 0.5rem 1rem;
}
